<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">&copy; Copyright Casa Blanca Construction 2017 | All Rights Reserved</p>
                <p class="small">
                    <a href="https://agonzalez0515.github.io/">Angelica R. Gonzalez</a>
                    | "Creative" template from
                    <a href="https://startbootstrap.com/">Start Bootstrap.</a>
                </p>
            </div>
        </div>
    </div>
</footer>
